DATABASE_URL=postgresql+psycopg2://postgres:postgres@db:5432/appdb
AWS_REGION=us-east-1
AWS_ENDPOINT_URL=http://dynamodb:8001
DYNAMODB_TABLE=employee_costs
EXTRACTOR_URL=http://extrator-service:5000/processar
